<div class="container">
    <div class="row">
        <h1 class="text-center">Expense Manager</h1>
        <br>
        <table class="table table-bordered text-center">
            <thead>
                <tr class="text-uppercase text-primary">
                    <th class="text-center">Id</th>
                    <th class="text-center">name</th>
                    <th class="text-center">Amount</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="form-group">
                    <td class="text-info">#</td>
                    <td [class.has-error]="!newExpense.name && !valid"class>
                        <input name="name" [(ngModel)]="newExpense.name" type="text" placeholder="expense name" class="form-control">
                    </td>
                    <td [class.has-error]="!newExpense.amount && !valid">
                        <input name="amount" [(ngModel)]="newExpense.amount" type="number" placeholder="expense amount" class="form-control">
                    </td>
                    <td [class.has-error]="!newExpense.description && !valid">
                        <input name="description" [(ngModel)]="newExpense.description" type="text" placeholder="expense description" class="form-control">
                    </td>
                    <td>
                        <button class="btn btn-primary col-lg-12" [disabled]="!newExpense.name || !newExpense.amount || !newExpense.description" (click)="save()">
                            SAVE &nbsp; <i class="glyphicon glyphicon-save"></i>
                        </button>
                    </td>
                </tr>
                <ng-container *ngIf="expenses && expenses.length">
                    <tr #row data-view="view" *ngFor="let expense of expenses; index as index;">
                        <ng-container *ngIf="row.getAttribute('data-view') == 'view'">
                            <td class="text-info">{{index + 1}}</td>
                            <td>{{expense.name}}</td>
                            <td>{{expense.amount}}</td>
                            <td>{{expense.description}}</td>
                            <td class="text-uppercase">
                                <a class="btn btn-link" (click)="row.setAttribute('data-view', 'edit')">Edit</a>
                                <a class="btn btn-link" (click)="delete(expense)">Delete</a>
                            </td>
                        </ng-container>
                        <ng-container *ngIf="row.getAttribute('data-view') == 'edit'">
                            <td class="text-info">{{index + 1}}</td>
                            <td [class.has-error]="!expense.name">
                                <input name="name" [(ngModel)]="expense.name" type="text" placeholder="expense name" class="form-control">
                            </td>
                            <td [class.has-error]="!expense.amount">
                                <input name="amount" [(ngModel)]="expense.amount" type="number" placeholder="expense amount" class="form-control">
                            </td>
                            <td [class.has-error]="!expense.description">
                                <input name="description" [(ngModel)]="expense.description" type="text" placeholder="expense description" class="form-control">
                            </td>
                            <td class="text-uppercase">
                                <a class="btn btn-link" (click)="update(expense)">Update</a>
                                <a class="btn btn-link" (click)="row.setAttribute('data-view', 'view')">Cancel</a>
                            </td>
                        </ng-container>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <ng-container *ngIf="!expenses || !expenses.length">
            No expense added yet!
        </ng-container>
    </div>
</div>