.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #337ab7; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.navbar {
    background-color: #337ab7;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
}

.navbar-header {
    margin: 0;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: white;
    cursor: pointer;
}

.glyphicon-home::before {
    content: "\E021";
}

.glyphicon-plus-sign::before {
    content: "\E081";
}

.glyphicon-remove::before {
    content: "\E014";
}

.glyphicon-upload::before {
    content: "\E027";
}

.glyphicon-menu-hamburger:before {
    content: "\E236";
}

.glyphicon:hover {
    color: white;
}

.user-menu {
    display: block;
    margin: 0;
    min-width: 0;
}

.user-menu a {
    cursor: pointer;
}

p {
    margin-top: 100px;
}

.user-input {
    width: 200px;
    height: 40px;
    display: inline;
    font-size: 3rem;
    font-weight: bold;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 50px;
}

.info-section {
    margin-top: 100px;
}

.card {
    background-color: lightblue;
    padding: 10px 40px 20px;
    margin: 20px;
    border-radius: 5px;
    min-width: 250px;
    max-width: 250px;
}

.new-card {
    background-color: lightblue;
}

.close-card {
    right: -30px;
    font-size: large;
    color: black;
}

#btnSave {
    width: 100%;
}

.mtl {
    margin-top: 20px;
}

@keyframes fadeIt {
    0% {
        background-color: lightblue;
    }
    50% {
        background-color: #CDCD2F;
    }
    100% {
        background-color: lightblue;
    }
}

.animate-card {
    animation: fadeIt 1s ease-in-out;
}

@media screen and (min-width: 321px) and (max-width: 624px) {
    .card {
        min-width: 90%;
        max-width: 90%;
        margin-left: 5%;
    }
}